.btn-primary {
  background-color: #5865f2;
  border-color: #5865f2;
  color: #fff;
}

.btn-primary:hover {
  background-color: #4752c4;
  border-color: #4752c4;
}

/* Secondary outline button */
.btn-outline-secondary {
  color: #5865f2;
  border-color: #fff;
}

.btn-outline-secondary:hover {
  background-color: #4752c4;
  color: #fff;
}
