---
layout: default
---

{% include home-intro.html %} {% if site.data.home.featured_projects %}
<section class="home-featured container mt-5">
  <div class="row g-3">
    {% for project in site.data.home.featured_projects %}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img
          src="{{ project.image }}"
          class="card-img-top"
          alt="{{ project.title }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.description }}</p>
          {% if project.link %}
          <a href="{{ project.link }}" class="btn btn-primary">View Project</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}
